<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JFM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dispatch</display-name>
    <servlet-name>Dispatch</servlet-name>
    <servlet-class>com.bigjava.dpi.gui.Dispatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatch</servlet-name>
    <url-pattern>/Dispatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSFServlet</display-name>
    <servlet-name>JSFServlet</servlet-name>
    <servlet-class>com.bigjava.jsf.JSFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSFServlet</servlet-name>
    <url-pattern>/JSFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextField</display-name>
    <servlet-name>TextField</servlet-name>
    <servlet-class>com.bigjava.jsf.TextField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextField</servlet-name>
    <url-pattern>/TextField</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.bigjava.jsf.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CsvFile</display-name>
    <servlet-name>CsvFile</servlet-name>
    <servlet-class>com.bigjava.dpi.gui.CsvFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsvFile</servlet-name>
    <url-pattern>/CsvFile</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/DpiDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>UmHistoryStatusPanel</display-name>
    <servlet-name>UmHistoryStatusPanel</servlet-name>
    <servlet-class>com.bigjava.dpi.gui.UmHistoryStatusPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UmHistoryStatusPanel</servlet-name>
    <url-pattern>/UmHistoryStatusPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchField</display-name>
    <servlet-name>SearchField</servlet-name>
    <servlet-class>com.bigjava.jsf.SearchField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchField</servlet-name>
    <url-pattern>/SearchField</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toolbar</display-name>
    <servlet-name>Toolbar</servlet-name>
    <servlet-class>com.bigjava.jsf.Toolbar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toolbar</servlet-name>
    <url-pattern>/Toolbar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlPosition</display-name>
    <servlet-name>ControlPosition</servlet-name>
    <servlet-class>com.bigjava.jsf.ControlPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlPosition</servlet-name>
    <url-pattern>/ControlPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Export</display-name>
    <servlet-name>Export</servlet-name>
    <servlet-class>com.bigjava.jsf.Export</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Export</servlet-name>
    <url-pattern>/Export</url-pattern>
  </servlet-mapping>
</web-app>